{
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}